<!DOCTYPE html>
<html>
  <head>
    <title>Create Pizzas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/pizzas">Pizzas List</a></h3>
      <h1>Create New Pizzas</h1>
      <form action="/pizzas/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Nombre</td>
              <td><input type="text" name="nombre" /></td>
            </tr>
            <tr>
              <td>Masa</td>
              <td>
              <select  name="masa">
                <option value="Pan Pizza">Pan Pizza</option>
                <option value="Crispi">Crispi</option>
                <option value="Normal">Normal</option>
                <option value="Hut cheese" selected>Hut cheese</option>
              </select></td>
            </tr>
            <tr>
              <td>Descripcion</td>
              <td><textarea name="descripcion"></textarea></td>
            </tr>
            <tr>
                <td>Tamaño</td>
                <td><select  name="tamaño">
                  <option value="Personal">Personal</option>
                  <option value="Normal">Normal</option>
                  <option value="Grande">Crispi</option>
                  <option value="Extra Grande" selected>Extra Grande</option>
                </select></td>
            </tr>
            <tr>
              <td>Porciones</td>
              <td><input type="number" name="porciones" /></td>
            </tr>
            <tr>
            <td>Ingredientes</td>
            <td><input type="checkbox" name="ingredientes" value="Jamon">Jamon<br></td>
            <td><input type="checkbox" name="ingredientes" value="Peperoni" checked>Peperoni<br></td>
          </tr>
            
            <tr>
              <td colspan="2"><input type="submit" value="Save" /></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>