<!DOCTYPE html>
<html>
  <head>
    <title>Pizza List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/pizzas/create">Create Pizza</a></h3>
      <h1>Pizza List</h1>
      <% if(pizzas.length>0) { %>
      <table>
        <thead>
          <tr>
            <th>Pizza Nombre</th>
            <th>Position</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<pizzas.length;i++) { %>
            <tr>
              <td><a href="/pizzas/show/<%= pizzas[i]._id%>"><%= pizzas[i].nombre%></a></td>
              <td><%= pizzas[i].position%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No pizzas found.</div>
      <% } %>
    </div>
  </body>
</html>