<!DOCTYPE html>
<html>
   <head>

       <h1>Bienvenido hijo de la gran puta</h1>
   </head>
   <body>
       <div class= "index">
           <label for = "word">Ingrese su palabra secreta</label>
           <br>
           <input type="text" name="Value" id="txt1">
           <br>
           <button onclick = > Aceptar</button> 
           <br> 
           <textarea id = "txtArea" name = "txtArea" style = "width:300px; height: 300px;">JSON</textarea> 
           <textarea id = "txtArea2" name = "txtArea2" style = "width:300px; height: 300px;">JWT</textarea>
       </div>
   </body>


</html>