<!DOCTYPE html>
<html>
   <head>
        
       <h1>Bienvenido</h1>
       <h3><a href="/">Home</a></h3>
       <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   </head>
   <body>
       <div class= "index">
           <label for = "word">Ingrese su palabra secreta</label>
           <br>
           <input type="text" name="txt1" id="txt1">
           <br>
           <label for = "word">Ingrese su clave secreta</label>
           <br>
           <input type="text" name="txt2" id="txt2">
           <br>
           <form action="/jwt" method="post">
           <button onclick = "cifrar()" type="button">Aceptar</button>
            </form>
           <br> 
           <textarea id = "txtArea" name = "txtArea" style = "width:300px; height: 300px;">JSON</textarea> 
           <textarea id = "txtArea2" name = "txtArea2" style = "width:300px; height: 300px;">JWT</textarea>
       </div>
   </body>


</html>

<script type="text/javascript">

    function cifrar(){
        $.ajax({
            url: '/jwt',
            type: "POST",
            dataType: "json",
            data: {"texto": $('#txt1').val(), "clave":$('#txt2').val() },
            success: function(res){
                //if(res.success)
                //{
                    $('#txtArea').val("{texto:" + $('#txt1').val() + "}");//JSON
                    $('#txtArea2').val(res.cifrado);
                //}
                console.log('success');  
            }
        });

    }
    $("#txtArea")

</script>